<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
	Edited July 2017 for SWENG500 at Penn State University by James Huckestein
-->
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Search Results</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="subpage">

<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="/" class="logo">Sense</a>
        <nav id="nav">
            <a href="/">Home</a>
            <a href="/episodesurvey">Episode</a>
            <a href="/adjustmentresponsesurvey">Adjustment Response</a>
            <a href="/emotionalstatesurvey">Emotional State</a>
            <a href="/surveyreports" class="icon fa-lock"> Survey Reports</a>
            <a href="/faq">FAQ</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>



<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">
        <h2>Database Results</h2>
        <h3>All Episode Surveys for the User</h3>
        <hr class="major" />

        <ul>
            <% results.forEach(function(r) { %>
            <li><%= r.eptitle %> - <%= r.eplocation %> - <%= r.epcity %> - <%= r.epcountry %> - <%= r.epdate %>
                - <%= r.usernumber %> - <%= r.epq1 %> - <%= r.epq2 %> - <%= r.epq3 %> - <%= r.epq4 %>
                - <%= r.epq5 %> - <%= r.epq6 %> - <%= r.epq7 %> - <%= r.epq8 %> - <%= r.epq9 %>
                - <%= r.epq10 %> - <%= r.epq11 %> - <%= r.epq12 %> - <%= r.epq13 %> - <%= r.epq14 %>
                - <%= r.epq15 %> - <%= r.epq16 %> - <%= r.epsurveynum %> - <%= r.date %></li>
            <% }); %>
        </ul>
    </div>
    <hr class="major" />
    <ul class="actions">
        <li><a href="/instructorSearch" class="button special">Return to Search</a></li>
    </ul>
</section>




<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="flex">
            <div class="copyright">
                &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
            </div>
            <ul class="icons">
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>


